<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>optionName</key>
		<string>英文</string>
		<key>optionValue</key>
		<array>
			<string>.</string>
			<string>,</string>
			<string>?</string>
			<string>!</string>
			<string>&apos;</string>
			<string>:</string>
			<string>...</string>
			<string>;</string>
			<string>@</string>
			<string>/</string>
			<string>(</string>
			<string>)</string>
			<string>+</string>
			<string>-</string>
			<string>×</string>
			<string>÷</string>
			<string>%</string>
			<string>&amp;</string>
			<string>^</string>
			<string>=</string>
			<string>#</string>
			<string>$</string>
			<string>*</string>
			<string>[</string>
			<string>]</string>
			<string>&lt;</string>
			<string>&gt;</string>
			<string>{</string>
			<string>}</string>
			<string>|</string>
			<string>￥</string>
		</array>
	</dict>
	<dict>
		<key>optionName</key>
		<string>中文</string>
		<key>optionValue</key>
		<array>
			<string>，</string>
			<string>。</string>
			<string>？</string>
			<string>！</string>
			<string>：</string>
			<string>；</string>
			<string>、</string>
			<string>... ...</string>
			<string>“</string>
			<string>”</string>
			<string>（</string>
			<string>）</string>
			<string>《</string>
			<string>》</string>
			<string>【</string>
			<string>】</string>
			<string>——</string>
			<string>#</string>
			<string>|</string>
			<string>~</string>
		</array>
	</dict>
	<dict>
		<key>optionName</key>
		<string>网络</string>
		<key>optionValue</key>
		<array>
			<string>@</string>
			<string>.</string>
			<string>-</string>
			<string>_</string>
			<string>#</string>
			<string>:</string>
			<string>http://</string>
			<string>www.</string>
			<string>.com</string>
			<string>.cn</string>
			<string>.net</string>
			<string>.org</string>
			<string>.中国</string>
			<string>®</string>
			<string>©</string>
			<string>℗</string>
			<string>™</string>
			<string>@qq.com</string>
			<string>@sohu.com</string>
			<string>@163.com</string>
			<string>@sina.com</string>
			<string>@yahoo.com.cn</string>
			<string>@gmail.com</string>
			<string>@live.cn</string>
			<string>@hotmail.com</string>
			<string>@msn.com</string>
			<string>@bizopstech.com</string>
		</array>
	</dict>
	<dict>
		<key>optionName</key>
		<string>数学</string>
		<key>optionValue</key>
		<array>
			<string>+</string>
			<string>-</string>
			<string>×</string>
			<string>÷</string>
			<string>=</string>
			<string>*</string>
			<string>%</string>
			<string>‰</string>
			<string>±</string>
			<string>∞</string>
			<string>∑</string>
			<string>∅</string>
			<string>&lt;</string>
			<string>&gt;</string>
			<string>⊙</string>
			<string>∠</string>
			<string>∲</string>
		</array>
	</dict>
	<dict>
		<key>optionName</key>
		<string>单位</string>
		<key>optionValue</key>
		<array>
			<string>￥</string>
			<string>$</string>
			<string>℃</string>
			<string>℉</string>
			<string>°</string>
			<string>㎡</string>
			<string>m³</string>
			<string>㎜</string>
			<string>㎝</string>
			<string>㎞</string>
			<string>㎎</string>
			<string>㎏</string>
			<string>cc</string>
		</array>
	</dict>
	<dict>
		<key>optionName</key>
		<string>象形</string>
		<key>optionValue</key>
		<array>
			<string>☀︎</string>
			<string>☼</string>
			<string>☽</string>
			<string>☁︎</string>
			<string>☔︎</string>
			<string>☃</string>
			<string>★</string>
			<string>⭐︎</string>
			<string>♠︎</string>
			<string>♣︎</string>
			<string>♥︎</string>
			<string>♦︎</string>
			<string>♞</string>
			<string>♜</string>
			<string>☕︎</string>
			<string>✌︎</string>
			<string>✎</string>
			<string>⚾︎</string>
			<string>⚽︎</string>
			<string>✈︎</string>
			<string>♨︎</string>
			<string>♀</string>
			<string>♂</string>
			<string>✪</string>
			<string>✣</string>
			<string>✤</string>
			<string>❆</string>
			<string>✿</string>
			<string>❤︎</string>
			<string>❖</string>
			<string>→</string>
			<string>←</string>
			<string>↑</string>
			<string>↓</string>
			<string>↔︎</string>
			<string>⇵</string>
			<string>↻</string>
			<string>⟲</string>
		</array>
	</dict>
</array>
</plist>
